/* --------------------  Normalize CSS */
:root {
    /*-- colors-- */
    --primary: #138af2;
    --secondary: #27282D;
    --alternative: #0c1440;
    --bg-color-grey: #cccc;
  
    /* Spacings */
    --spacing-xxlarge: 12.5em;
    --spacing-xlarge: 10em; 
    --spacing-large: 6em;
    --spacing-medium: 2.4em;
    --spacing-small: 2em;
    --spacing-xsmall: 1em;
    --spacing-xxsmall: .7em;
  
    /* Font-Family */
    --font-principal: Roboto;
    --font-title: 'Playfair Display', serif;
  
    /* font-Sizes */
    --text-large: 5.2rem;
    --text-medium: 2.2rem;
    --text-base: 1.6rem;
    --text-small: 1.4rem;
  }

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background: #cccc;
    font-size: 100%;
    line-height: 1.4em;
}

a{
    text-decoration: none;
    font-style: inherit;
}

a:hover{
    color: none;
}

img,
picture,
video,
iframe {
    max-width: 100%;
    width: 100%;
    display: block;
}
/* --------------------- Fin Normalize */


/*       --------------- header */
/* ------ nav */
.navbar{
    position: fixed;
    height: 20%;
    background: var(--secondary);
}

.btn:hover {
    background: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
}

btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--primary);
    color: var(--secondary);
}

.btn-outline-success{
    background: var(--primary);
    color: var(--secondary);
    border-color: var(--secondary);
}

.icono-nav{
    margin: .1rem 1rem .4rem 1rem;
}

.nav-link{
    color: var(--primary);
    font-size: var(--text-base);
    padding: var(--spacing-xxsmall);
}

.navbar-toggler{
    background: var(--primary);
}

.navbar-toggler-icon{
    padding: var(--spacing-xxsmall);
    height:var(--spacing-medium);
}

.offcanvas{
    background: var(--secondary);
    color: var(--primary);
}

.header_offcanvas{
    color: #138af2;
}

/* ----- Titulo del nav */
.navbar-brand {
    font-family: var(--font-title);
    font-size: var(--text-large);
    margin-left: 20%;
    color: var(--primary);
}

/* form para busqueda por titulo */
.form-control{
    width: var(--spacing-xxlarge);
    padding: var(--spacing-xxsmall);
}
/* ----------- Fin header */

/* -------------  main */
.contenedor-main{
    margin-top: var(--spacing-xlarge);
    padding: 4%;
    display: flex;
}
/* -------------- Fin main */

/* ------------ section */
.contenedor-section{
    padding: 2%;
}
/* ----- Fin section */

/* article */
article.contenedor-article{
    padding: 2%;
    height: 40%;
}

.card-img, .card-img-top{
    height: 20%;
}

.list-group{
    margin-top: 7rem;
}



/* aside */
.container-aside{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xsmall);
}

.bg-button-aside{
    background: var(--secondary);
    color: var(--primary);
    margin-top: var(--spacing-large);
}

.bg-hr{
    color: var(--primary);
}
.bg-button-aside-h2{
    border-radius: 50%;
}
.accordion-button::after{
    color: var(--primary);
}

