a{
    text-decoration: none;
    font-style: inherit;
}

a:hover{
    color: none;
}

html body ul {
    list-style-type: none;
}

img,
picture,
video,
iframe {
    max-width: 100%;
    width: 100%;
    display: block;
}

.header{
    
}

.navbar{
    position: fixed;
    height: 20%;
    background: #27282D;
}

.nav-link{
    color: #138af2;
    font-size: 1.1rem;
}

.navbar-toggler{
    background: #138af2;
}

.navbar-toggler-icon{
    padding: .5rem;
    height:3rem;
}

.offcanvas{
    background: #27282D;
    color: #138af2;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    margin-left: 10%;
    color: #138af2;
}

.form-control{
    width: 10rem;
    padding: .5rem;
}

.contenedor-main{
    margin-top: 6.5rem;
    padding: 4%;
    display: flex;
}

.contenedor-section{
    padding: 2%;
}

article.contenedor-article{
    padding: 2%;
    height: 40%;
}

.card-img, .card-img-top{
    height: 20%;
}

.container-aside{
    margin-top: 2%;
}

.header_offcanvas{
    color: #138af2;
}

.bg-button-aside{
    background: #27282D;
    color: #138af2;
}

.bg-hr{
    color: #138af2;
}
.bg-button-aside-h2{
    border-radius: 50%;
}
.accordion-button::after{
    color: #138af2;
}

