/* --------------------  Normalize CSS */
:root {
    /*-- colors-- */
    --primary: #138af2;
    --secondary: #27282D;
    --alternative: #27282d72;
    --bg-color-grey: #cccc;
  
    /* Spacings */
    --spacing-xxlarge: 12.5em;
    --spacing-xlarge: 10em; 
    --spacing-large: 7em;
    --spacing-medium: 2.4em;
    --spacing-small: 2em;
    --spacing-xsmall: 1.2em;
    --spacing-xxsmall: .3em;
  
    /* Font-Family */
    --font-principal: Roboto;
    --font-title: 'Playfair Display', serif;
  
    /* font-Sizes */
    --text-xlarge: 5.2rem;
    --text-large: 3.2rem;
    --text-medium: 2.5rem;
    --text-base: 2rem;
    --text-small: 1.7rem;
    --text-xsmall: 1.3rem;
  }

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
    font-size: 75%;
}

body{
    min-height: 100vh;
    background: #cccc;
    font-size: 100%;
    line-height: 1.4em;
}

a{
    text-decoration: none;
    font-style: inherit;
}

a:hover{
    color: none;
}

img,
picture,
video,
iframe {
    max-width: 100%;
    width: 100%;
    display: block;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------- Fin Normalize */


/*       --------------- header */
/* ------ nav */
.navbar{
    position: fixed;
    height: 20%;
    background: var(--secondary);
}

.btn:hover {
    background: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
}

btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--primary);
    color: var(--secondary);
}

.btn-outline-success{
    background: var(--primary);
    color: var(--secondary);
    border-color: var(--secondary);
}

/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {

} */

.icono-nav{
    margin: .1rem 1.7rem .4rem 1rem;
}


.offcanvas-title{
    font-size: var(--text-large);
    font-family: var(--font-title);
}

.nav-link{
    color: var(--primary);
    font-size: var(--text-small);
    padding: .6rem;
    margin-right: var(--spacing-xsmall);
}

.hr_navbar-nav{
    padding: var(--spacing-xxsmall);
}

.navbar-toggler{
    background: var(--primary);
}

.navbar-toggler-icon{
    height:var(--spacing-medium);
    width: var(--spacing-small);
}

.offcanvas{
    max-width: 100vh;
    background: var(--secondary);
    color: var(--primary);
}

.header_offcanvas{
    color: #138af2;
}

.offcanvas-body{
    margin: var(--spacing-xsmall) var(--spacing-medium) 0 0;
    padding: var(--spacing-small);
}

/* ----- Titulo del nav */
.navbar-brand {
    font-family: var(--font-title);
    font-size: var(--text-xlarge);
    margin-left: 20%;
    color: var(--primary);
}

.navbar-brand:hover{
    color: var(--primary);
}

/* form para busqueda por titulo */
.form-control{
    width: var(--spacing-xxlarge);
    padding: var(--spacing-xxsmall);
}
/* ----------- Fin header */

/* -------------  main */
.contenedor-main{
    margin-top: var(--spacing-large);
    padding: 4% 6%;
    display: flex;
}
/* -------------- Fin main */

/* ------------ section */
.contenedor-section{
    padding: 1%;
}
/* ----- Fin section */

/* article */
article.contenedor-article{
    padding: 2%;
    height: 40%;
}

.card-img, .card-img-top{
    height: 20%;
}

.list-group{
    margin-top: 7rem;
}



/* aside */
.container-aside{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxsmall);
}

.container-aside_h2{
    font-family: var(--font-title);
    color: var(--secondary);
    font-size: var(--text-base);
}

.bg-button-aside{
    background: var(--alternative);
    color: var(--secondary);
    margin-top: var(--spacing-medium);
    font-size: var(--text-xsmall);
    font-weight: 600;
    font-family: var(--font-principal);
    padding: 5%;
}

.bg-hr{
    color: var(--primary);
}

.accordion-button::after{
    color: var(--primary);
}


/* footer */
.container-footer{
    position: absolute;
    height: 20vh;
    padding: var(--spacing-small);
    margin-left:25%;
    border-top: 1px solid var(--alternative);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);
}

.container-footer-iconos{
    display: flex;
    gap: var(--spacing-large);
}

.container-footer-iconos-icono{
    width: var(--spacing-medium);
}

.mi_firma_footer{
    display: flex;
    font-size: var(--text-medium);
    font-family: var(--font-title);
    color: var(--secondary);
}

/* Mis Posteos */
/* lista con o sin elementos */
.contenedor-section-mis-posteos{
    height: 50vh;
}

.conteiner-article_mis_posteos{
    margin-left: var(--spacing-small);
}

.h1_conenedor_section_mis_posteos{
    margin-bottom: var(--spacing-xsmall);
}
/* la lista cuando contiene elementos elementos */
.grupo-botones-card{
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-xxsmall);
    margin: 6% 4% 0 0;
    font-size: var(--text-base);
}

.btn_grupo-botones-card{
    font-size: var(--text-xsmall);
}

/* .btn_grupo-botones-card:hover{
    background: ;
} */

/* ------ section Posteo completo */
.container-posteo{
    color: #000;
    padding: var(--spacing-medium) 8%;
    background: #e1e1dd;
    font-size: var(--text-base);
    font-family: cursive;
    line-height: var(--spacing-xsmall);
}

.hr_posteo_completo{
    margin-top: var(--spacing-medium);
    padding: var(--spacing-xxsmall);
}

/*  Formularios */
.section__form {
    display: flex;
    flex-direction: column;
    margin: 4% 34%;
    height: auto;
    width: 35%;
    color: var(--primary);
    font-size: var(--text-xsmall);
    font-family: var(--font-principal);
    border-radius: 4px;
    padding: var(--spacing-medium);
    background: var(--secondary);
    box-shadow: 7px 13px 37px #000;
  }

  .form-table{
    margin-top: var(--spacing-small);
    padding: .1rem;
  }