{% extends "base.html" %}

{% block title %}
  <title>Inicio de sesión | TechBlog</title>
{% endblock title %}

{% block main %}
    <main class="contenedor-main d-f flex-direction-column">
        <h1 class='d-f justify-content-center'>Inicio sesion</h1>
        <form action={% url "login" %} method="POST" class='section__form'>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            {{ alerta }}
            <br>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-form" type="submit">Iniciar sesión</button>
            </div>
        </form>
    </main>
{% endblock main %}