{% extends "base.html" %}

{% block title %}
  <title>{{ empleos.titulo_empleo }} | Empleos</title>
{% endblock title %}

{% block main %}
  <main class="contenedor-main d-f justify-content-center">
    <section class="row contenedor-section p-20 col-md-12">
      <div class="">
        <h1 style="text-align:center">{{ empleos.titulo_empleo }}</h1>
        <br>
        {{ empleos.descripcion_empleo | safe }}
        <br>
        <br>
        <p><span>Fecha de publicación:  {{ empleos.fecha_publicacion_empleo }}</span></p>
        <p><span>Empresa contratista:  {{ empleos.empresa }}</span></p>
        <br>
        <br>
        <a href={% url "empleos" %}><p>Volver atrás</p></a>
      </div>
    </section>
  </main>
{% endblock main %}