{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="contanier contenedor-main d-f">
    <section class="row contenedor-section p-20 col-md-9">
        <h1>Bolsa de empleos</h1>
            {% for posteo in lista_posteos %}
                <article class="conteiner-article">
                    <div class="card mb-3" style="max-width: 90%;">
                        <a href="{{ posteo.id }}">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src={% static "assets/img/inicio_blog/portfolio-img.png" %} class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ posteo.titulo_posteo }}</h5>
                                        <p class="card-text">{{ posteo.descripcion_posteo }}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{ posteo.fecha_posteo }}</small></p>
                                        <p class="card-text"><small class="text-body-secondary">Categoria: {{ posteo.categoria_posteo }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>
            {% endfor %}
{% endblock %}