{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Inicio | TechBlog</title>
{% endblock title %}

{% block main %}
    <main class="contanier contenedor-main d-f">
        <section class="row contenedor-section p-20 col-md-9">
            {% if lista_posteos %}
                {% for posteo in lista_posteos %}
                    <article class="conteiner-article">
                        <div class="card mb-3" style="max-width: 90%;">
                            <a href="{{ posteo.id }}">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src={% static "assets/img/inicio_blog/img-tecno1.jfif" %} class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ posteo.titulo_posteo }}</h5>
                                            <p class="card-text">{{ posteo.descripcion_posteo | safe }}</p>
                                            <p class="card-text"><small class="text-body-secondary">{{ posteo.fecha_posteo }}</small></p>
                                            <p class="card-text"><small class="text-body-secondary">Categoria: {{ posteo.categoria_posteo }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
                {% else %}
                <h3>No se encontraron resultados para dicha búsqueda.</h3>
            {% endif %}
        </section>
        <aside class="container container-aside">
          <h2 class="container-aside_h2">Los 3 de la semana:</h2>
          <div class="carousel-aside-container">
            <a href="#" target="_blank">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card mb-3">
                      <img src={% static "assets/img/inicio_blog/img-tecno3.jfif" %} class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title 1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-3">
                      <img src={% static "assets/img/inicio_blog/img-tecno3.jfif" %} class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title 2</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-3">
                      <img src={% static "assets/img/inicio_blog/img-tecno3.jfif" %} class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title 3</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </a>
          </div>

          <div class="accordion-aside-container">
            <div class="accordion accordion-flush bg-dark bg-button-aside-h2" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header bg-button-aside-h2">
                    <button class="accordion-button collapsed bg-button-aside" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Categorías
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><ul class="p-0">
                        <li class="list-group-item col-md-10"><a href="#" name="Programación">Programación ( )</a></li>
                        <hr class="bg-hr">
                        <li class="list-group-item col-md-10"><a href="#" name="Robótica">Robótica ( )</a></li>
                        <hr class="bg-hr">
                        <li class="list-group-item col-md-10"><a href="#" name="Matemáticas">Inteligencia Artificial ( )</a></li>
                    </ul>
                    </div>
                  </div>
                </div>
          </div>
          </div>
        </aside>
    </main>
{% endblock main %}
