{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="d-f contenedor-main justify-content-center">
        <section class="row contenedor-section p-20 col-md-11">
            <h1 class="h1_conenedor_section_mis_posteos text-center">Mis Posteos</h1>
            {% if posteos_del_usuario %}
                {% for posteo in posteos_del_usuario %}
                    <article class="conteiner-article_mis_posteos">
                        <div class="card mb-3" style="max-width: 90%;">
                            <a href="{{ posteo.id }}">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src={% static "assets/img/inicio_blog/img-tecno1.jfif" %} class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ posteo.titulo_posteo }}</h5>
                                            <p class="card-text">{{ posteo.descripcion_posteo }}</p>
                                            <p class="card-text"><small class="text-body-secondary">{{ posteo.fecha_posteo }}</small></p>
                                            <div class="grupo-botones-card">
                                                <button type="button" class="btn btn_grupo-botones-card btn-primary">Modificar</button>
                                                <button type="button" class="btn btn_grupo-botones-card btn-danger">Borrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
                {% else %}
                <h3>Todavia no has realizado ningun Posteo.</h3>
            {% endif %}
    </main>
{% endblock %}