{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Mis posteos</title>
{% endblock title %}


{% block main %}
    <main class="d-f contenedor-main justify-content-center">
        <section class="row contenedor-section p-20 col-md-11">
            <h1 class="h1_conenedor_section_mis_posteos text-center">Mis Posteos</h1>
            {% if posteos_del_usuario %}
                {% for posteo in posteos_del_usuario %}
                    <article class="conteiner-article_mis_posteos">
                        <div class="card mb-3" style="max-width: 90%;">
                            <a href="{{ posteo.id }}">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        {% if posteo.imagen_posteo %}
                                            <img src="{{ posteo.imagen_posteo.url }}" class="img-fluid rounded-start" alt='{{ posteo.titulo_posteo }}'>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ posteo.titulo_posteo }}</h5>
                                            <p class="card-text">{{ posteo.descripcion_posteo }}</p>
                                            <p class="card-text"><small class="text-body-secondary">{{ posteo.fecha_posteo }}</small></p>
                                            <a href={% url "actualizar_posteo" posteo.id %}><input class="p-2" style="background-color: green; color: aliceblue;" type="button" value="Actualizar Post"></a>
                                            <a href={% url "eliminar_posteo" posteo.id %}><input class="p-2" style="background-color: red; color: aliceblue;" type="button" value="Eliminar Post"></a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
                {% else %}
                <h3>Todavia no has redactado ningún Posteo.</h3>
                <p style="height: 20vh;"><a href={% url "creacion_posteo" %}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill icono-nav" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg> Redactar Posteo </a></p>
            {% endif %}
    </main>
{% endblock main %}