{% extends "base.html" %}

{% block title %}
  <title>Cambio de contraseña | TechBlog</title>
{% endblock title %}

{% block main %}
    <main style="margin-top: 12%">
        <h1 class='text-center'>Cambio de contraseña</h1>
        <form method="POST" class='section__form'>
            {% csrf_token %}
            {{ alerta }}
            <table class="d-flex justify-content-center form-table">
                {{ form.as_p }}
            </table>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-form" type="submit">Cambiar_contraseña</button>
            </div>
        </form>
    </main>
{% endblock main %}