{% extends "base.html" %}

{% block title %}
  <title>Mi Perfil</title>
{% endblock title %}

{% block main %}
    <main style="margin-top: 12%">
        <div style="margin: 12% 0 0 5rem">
            <h1 class='text-center'>Mi Perfil</h1>
            <form method="POST" style="max-height:100vh; padding: 3rem;">
                <h3 class="p-3">{{ request.user.username }}</h3>
                {% csrf_token %}
                <ul>
                    <li>Alias : {{ request.user.username }}</li>
                    <li>Email : {{ request.user.email }}</li>
                    <li>Nombre : {{ request.user.first_name }}</li>
                    <li>Apellido : {{ request.user.last_name }}</li>
                    <li>Mi Biografía : {{ biografia_usuario }}</li>
                </ul>
                <div class="d-flex justify-content-center p-5">
                    <a href={% url "editar_perfil" %}><button class="btn btn-primary btn-form" type="button">Editar Perfil</button>
                </div>
            </form>
        </div>
    </main>

{% endblock main %}