{% extends "base.html" %}

{% block title %}
  <title>Crea tu usuario</title>
{% endblock title %}

{% block main %}
    <main style="margin-top: 15%">
        <h1 class='text-center'>Registro Usuario</h1>
        {{ alerta }}
        <form method="POST" style="max-height:100vh">
            
            {% csrf_token %}
            
            {{ mi_formulario.as_p }}

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-form" type="submit">Confirmar</button>
            </div>
        </form>
    </main>

{% endblock main %}
