{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href= {% static "css/styles.css" %}>
</head>
<body>
    <header class="header">
        <nav class="navbar sticky-top bg-body-tertiary fixed-top">
            <div class="container-fluid d-f justify-content-space-beetwen">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TechBlog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../inicio_blog/">Inicio</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="../inicio_blog/creacion_post">Nuevo Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../inicio_blog/mis_posts">Mis Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../empleos/lista_empleos/">Empleos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../cierre_sesion/">Cerrar sesión</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../registro_usuario/">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../inicio_sesion/">Iniciar sesión</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <h1 style="margin-left: 10%;"><a class="navbar-brand" href="#">TechBlog</a></h1>
                <form class="d-flex" role="search">
                    <input class="form-control me-1" type="search" placeholder="Buscar un Post" name="titulo_posteo" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>