{% extends 'base.html' %}

{% block title %}
  <title>Foro | TechBlog</title>
{% endblock title %}

{% block main %}
  <main class="contanier contenedor-main d-f">
    <section class="row contenedor-section p-20 col-md-9">
      {% if foro %}
        {% for comentario in foro %}
          <article class="conteiner-article">
            <div class="card mb-3" style="max-width: 90%;">
              <div class="col-md-8">
                <div class="card-body">
                  <figure class="figure_container mt-4">
                    <blockquote class="blockquote">
                      <p>{{ comentario.comentario | safe }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-5">
                      <cite title="Source Title">Usuario: {{ comentario.usuario }}, {{ comentario.fecha_comentario }}</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      {% else %}
          <h3>Todavía no se comenta nada por aquí...</h3>
      {% endif %}
    </section>
  </main>
{% endblock main %}
