{% extends "base.html" %}

{% block title %}
  <title>Publicá tu comentario</title>
{% endblock title %}

{% block main %}
    <main class="contenedor-main d-f justify-content-center">
        <form action="" method="POST" style='margin-top:2rem'>
            {% csrf_token %}
            <h1 class='text-center'> Di lo que piensas</h1>
            {{ alerta }}
            {{ foro_form.as_p }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-form" type="submit">Publicar</button>
            </div>
        </form>
    </main>
{% endblock main %}